.THIS {
}

.THIS .custom-hide{
	display: none !important;
}
.THIS .slds-svg-color svg{
	fill: #ea5b1c;
}

.THIS .masscheckbox + label{
    width: .8rem;
    height: .8rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    border-radius: .125rem;
    background: #fff;
    transition: border .1s linear,background-color .1s linear;
	vertical-align: top;
}

.THIS .masscheckbox:active + label{
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.THIS .masscheckbox:checked + label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.THIS .masscheckbox:checked + label:after {
	display: block;
    content: '';
    height: .25rem;
    width: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    border-bottom: 2px solid #1589ee;
    border-left: 2px solid #1589ee;
}

.THIS .isAPL_borderl{
        border-left: 1px solid transparent;
}

.THIS.custom-button-box{
    padding: 5px; position: fixed; z-index: 10; background-color: #fff; width: 100%; top: 0;
}

.THIS.custom-save-status div.cover{
    position: fixed; width: 100%; height: 100%; top: 0; background-color: #eef1f6; z-index: 100; opacity: 0.4;
}
.THIS.custom-save-status div.status{
    z-index: 110; margin: 0 auto; padding-left: 20%; padding-right: 20%; position: fixed; width: 100%; top:30%;
}

.THIS.custom-save-status div.status .slds-spinner_container{
	background-color: transparent; width: 2rem; position: relative;
}

.THIS.custom-save-status div.status .error{
    width: 100%; padding: 1rem; color: rgba(194,57,52,.95); margin-top: 2px; font-weight: bold;
}
.THIS.custom-save-status div.status .error div{
    /* max-height: 200px; min-height: 20px; overflow-x: hidden; overflow-y: auto;		*/
}
.THIS .slds-tabs--path__item+.slds-is-incomplete:before, .THIS .slds-tabs--path__item+.slds-is-lost:before {
  /*   background-color: #4bca81;   */
}
.THIS .slds-tabs--path__item+.slds-is-incomplete:before, .THIS .slds-tabs--path__item+.slds-is-lost:after {
   /*    background-color: #c23934;  */
}
.THIS .custom-save-spinner div.slds-spinner{
    position: relative; margin-top: 3px; top: 50%; 
}

@media screen and (-webkit-min-device-pixel-ratio:0) {	/* Safari browser only */
    .THIS .custom-save-spinner div.slds-spinner { margin-top: 10px; }
}