.THIS {
}

.THIS .custom-slds-pill-contailner{
    border: 1px solid #d8dde6; background-color: #fff;
}
.THIS .custom-slds-pill-contailner:hover{
	background-color: #eeeeee !important;
}
.THIS .slds-input-has-icon--right .slds-input__icon{
        right: .5rem;
}
.THIS .slds-dropdown--left{
    
}

.THIS .slds-modal__content{
	
}