/** Hides the Select Label **/
.THIS .mergeWithRecentSelectContainer div.slds-form-element label.slds-form-element__label {
	display: none !important;
}

/** Error Area **/
.THIS .errorArea {
    color: #c23934;
}

.THIS .errorArea h2 {
	font-size: 2rem;
	font-weight: bold;
	font-variant-caps: all-petite-caps;
}

/** Duplicates Text/Link **/
.THIS .dupeLink {
	font-size: 0.925rem;
	background: gold;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
}

/** SLDS Adjustments **/
.THIS .slds-card__body {
	padding: 0 1.5625rem;
}

/** Spinner **/
.THIS .slds-spinner_container {
	background-color: rgba(255, 255, 255, 1) !important;
}

.THIS .slds-spinner::before {
	animation-delay: -600ms !important;
	-webkit-animation-delay: -600ms !important;
	-moz-animation-delay: -600ms !important;
	background-color: #ec7039 !important;
}

.THIS .slds-spinner::after {
	animation-delay: -183.3ms !important;
	-moz-animation-delay: -183.3ms !important;
	-webkit-animation-delay: -183.3ms !important;
	background-color: #ec7039 !important;
}

.THIS .slds-spinner__dot-a::before {
	animation-delay: -516ms !important;
	-moz-animation-delay: -516ms !important;
	-webkit-animation-delay: -516ms !important;
	background-color: #ec7039 !important;
}

.THIS .slds-spinner__dot-a::after {
	animation-delay:-16.6ms !important;
	-moz-animation-delay:-16.6ms !important;
	-webkit-delay:-16.6ms !important;
	background-color: #ec7039 !important;
}

.THIS .slds-spinner__dot-b::before {
	animation-delay:-350ms !important;
	-moz-animation-delay:-350ms !important;
	-webkit-animation-delay:-350ms !important;
	background-color: #ec7039 !important;
}

.THIS .slds-spinner__dot-b::after {
	animation-delay:150ms !important;
	-moz-animation-delay:150ms !important;
	-webkit-animation-delay:150ms !important;
	background-color: #ec7039 !important;
}


/** Branded Button **/
.THIS .slds-button--brand {
	border: 1px solid #ec7039 !important;
	background-color: #ec7039 !important;
}

.THIS .slds-button--brand[disabled] {
	background: #f2baa2 !important;
	border-color: transparent!important;
	color: #fff !important;
}

/** Select - Make drop down arrow the same across all browsers **/

.THIS .slds-select_container::before {
    content: none !important;
}

.THIS .slds-select_container::after {
    border-top-width: 6px !important;
    border-left-width: 4px !important;
    border-right-width: 4px !important;
    bottom: 0.80rem !important;
    pointer-events:none;
}

@-moz-document url-prefix() {
    .slds-select {height: calc(1.875rem + (1px * 2)) !important;}
}

/** Utility **/

.THIS .ltngUnderline {
	border-bottom: 1px dotted;
	text-decoration: none !important;
}

.THIS .ltngUnderline:hover, .THIS .ltngUnderline:focus {
	text-decoration: none;
}

.THIS .italic {
	font-style: italic;
}

.THIS .alignTextWithButton {
	line-height: 29px;
}

.THIS .flexNoShrink {
	flex-shrink: 0;
}

.THIS .flexFill {
	flex-grow:1;
}

.THIS .notVisible {
	visibility: hidden;
}