.THIS {
}

.THIS.custom-fc_body.hide{
    visibility: hidden;
}
.THIS .custom-tfoot{
	display: table-header-group;
    position: absolute;
    z-index: 10;
    top: 0;
}
.THIS #rigthScroll input{
    background-color: transparent;
    outline: 0;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 2px;
    width: 98%;
    border: none;
    cursor: default;
    text-shadow: 0 0 0 #000;
	color: transparent;
}
.THIS .message{
        display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
    line-height: 1.2rem;
    height: 1.2rem;
    color: #FF5722;
}