.THIS {
}

.THIS .datepicker__month td{
    border-bottom: 1px solid #e0e3e5;
}
.THIS .datepicker__month td div{
    display: flex; 
    cursor: pointer;
}

.THIS .datepicker__month td div:hover{
    background-color: #f4f6f9;
}

.THIS .datepicker__month td div span.left{
    padding: .5rem .5rem .3em .9rem; 
    font-weight: bold;
}
.THIS .datepicker__month td div span.right{
    padding:.5rem .3rem;
}
.THIS .custom-grid select.slds-select{
    width: 45%;
    min-height: calc(1.475rem + (1px * 2));
    height: calc(1.475rem + (1px * 2));
    margin-right: 0.5rem;
}
.THIS .slds-datepicker_header{
    border-bottom: 1px solid #e0e3e5; 
	background-color: #f4f6f9;
}